/* Set the default font and background color for the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}



/* Style buttons */
button, form button {
    background-color: #04243d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Change button background on hover */
button:hover, form button:hover {
    background-color: #0056b3;
}

/* Remove the outline of buttons on focus */
button:focus, form button:focus {
    outline: none;
}


/* Style the header to display its children in a row and align them in the center */
.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}





/* Responsive styles for screens with a max width of 600px */
@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }
    table tr {
        display: block;
        margin-bottom: 10px;
    }
    table td {
        display: block;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.intents_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Style the div containing intents */
.intents_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 80vh;
    overflow-y: auto;
}


/* General Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Modal Header */
.modal-content h2 {
    margin-top: 0;
}

/* Modal Buttons */
.modal-content button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for buttons */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}


/* Modal Buttons: Cancel */
#cancelDelete, #cancelTest {
    background-color: #f44336; /* Red background */
}

/* Button Hover Effects */
.modal-content button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#cancelDelete:hover, #cancelTest:hover {
    background-color: #e53935; /* Darker red on hover */
}


