 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #04243d !important;

}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: #ffffff;
}

#sidebar-wrapper .list-group {
  width: 15rem;

}
#menu-toggle {
     background-color: #f9f9f9;
     border: none;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;

}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    background-color: #f9f9f9;

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
#sidebar-wrapper .list-group-item {
    border: none;
    color: #ffffff;
    background-color: #04243d !important;
}

.active {
  color: orange !important;
}



/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
}

/* Style the table headers */
table thead {
    background-color: #04243d;
    color: white;
}

/* Style the table headers and cells */
table th, table td {
    padding: 12px 20px;
    text-align: left;
}

/* Make table headers bold */
table th {
    font-weight: bold;
}

/* Add a background color to every even row */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style the links in the table */
table td a {
    text-decoration: none;
    color: #04243d;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Change the color of links on hover */
table td a:hover {
    color: #0056b3;
}

